<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="customer">
    <resultMap id="defaultResultMap" type="com.hand.exam1.model.Customer" >
        <result column="customer_id" property="customerId" />
        <!--<result column="store_id" property="storeId" />-->
        <result column="first_name" property="firstName" />
        <result column="last_name" property="lastName" />
        <result column="email" property="email" />
        <result column="address_id" property="addressId" />
        <!--<result column="active" property="active" />-->
        <!--<result column="create_date" property="createDate" />-->
        <!--<result column="last_update" property="lastUpdate" />-->
    </resultMap>
    <sql id="defaultList" >
        customer_id,first_name,last_name,email,address_id
    </sql>
    <select id="selectById" timeout="30" resultMap="defaultResultMap" parameterType="java.lang.Integer">
        select <include refid="defaultList" /> from customer where address_id=#{id}
    </select>
    <select id="selectId" timeout="30" resultType="java.lang.Integer">
        select max(customer_id) from customer
    </select>

    <delete id="deleteCustomer" parameterType="java.lang.Integer" timeout="30">
        delete from customer where customer_id = #{customerId};
    </delete>
    <insert id="insert" parameterType="com.hand.model.Customer" timeout="30">
        insert into customer (customer_id, store_id, first_name,last_name,email,address_id,active,create_date,last_update)
        values (#{customerId}, 1,#{firstName},#{lastName},#{email},#{addressId},1,now(),now())
    </insert>
</mapper>